p, span, h1, h2, h3, h4, h5, h6, em, i, div, li {
  font-size: 36px;
}
.router-list {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #ffffff;
  border-top: 1px solid #cccccc;
  li {
    flex: 1;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-left: 1px  solid #cccccc;
    &:first-child {
      border-left: none;
    }
    a {
      font-size: 40px;
      display: block;
    }
  }
}