.home-page {
  // background: url('@/assets/images/meinv.jpg') no-repeat;
  height: 100vh;
}
.home-text {
  font-size: 30px;
  color: red;
  font-weight: bold;
  display: flex;
  transform: translate(0, 1px);
}